h1{
    text-align: center;
    font-size: 2rem;
    font-family: "Updock", cursive;
    margin-bottom: 2vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 90vw;
    max-height: 80vh;
    min-height: 50vh;
    background-color: bisque;
    border-radius: 10px;
    place-self: center;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    width: 80vw;
    place-self: center;
}

.grupo-input label {
    font-size: 2rem;
    margin-bottom: 0.5vh;
    text-align: center;
    font-family: 'Updock', cursive;
}

.grupo-input input {
    margin-top: 3px;
    padding: 5px, 1vw;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
}
.grupo-input textarea {
    padding: 5px, 1vw;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    outline: none;
    height: auto;
    min-height: 30vh;
    max-height: 60vh;
    transition: border-color 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #007BFF;
    text-align: start;
}

.input-group.full-width {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.submit-btn {
    padding: 1vh 1vw;
    font-size: 1rem;
    color: black;
    background-color: #ee3636;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 85vw;
    margin-bottom: 10px;
    place-self: center;
}

.submit-btn:hover {
    background-color: #b62e2e;
}

.display-cartas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
    z-index: 10;
}

.carta-content-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    height: auto;
    max-height: 70vh;
}

.controls-section {
    display: flex;
    gap: 10px;
}

.nav-button {
    padding: 10px 20px;
    background-color: #73BA9B;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.nav-button:hover {
    background-color: #2f624c;
}

/* Vista para pantallas >= 769px */
@media only screen and (min-width: 769px) {
    #EscribeCarta{
        padding-top: 14vh;
    }
    .grupo-input textarea {
        min-height: 20vh;
        max-height: 50vh;
    }
}