#Galeria {
  max-width: 600px;
  width: 100vw;
  height: 80vh;
  padding-top:15vh ;    
  padding-bottom: 5vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.mySlides {
  display: none;
}

.gallery-image {
  max-width: 500px;
  width: 80vw;
  height: 50vh;
  object-fit: cover; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 5vh;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 5vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.next-btn {
  cursor: pointer;
  padding: 16px 24px;
  margin: 20px auto;
  display: block;
  background-color: #555;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.next-btn:hover {
  background-color: #333;
}

@media (min-width: 601px) and (max-width: 769px) {

  #Galeria {
    max-width: 768px;
  }
  
  .gallery-image {
    max-width: 600px;
  }
  
  .slideshow-container {
    max-width: 768px;
  }

}

@media (min-width: 769px) {

  #Galeria {
    max-width: 100vw;
  }

  #Galeria h1{
    font-size: 4rem;
    }
  
  .gallery-image {
    max-width: 50vw;
  }
  
  .slideshow-container {
    max-width: 10vw;
  }

}