header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #73BA9B;
    height: 15vh; /* 15% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
    width: 100%;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    padding: 0 10px; 
    margin-left: 0px;
    z-index: 2;
}
.icon {
    height: 50px; /* Tamaño ajustado del ícono de Papá Noel */
    width: auto;
    transition: transform 0.3s ease;
}
.icon.rotated {
  transform: rotate(90deg); /* Rotar 90 grados */
}
#tres-barras {
    margin: 0 auto;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button {
    background-color: #d32f2f; /* Rojo navideño */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
}
#Menu-desplegable{
    position: fixed;
    background-color: rgba(115, 186, 155, 0.9);
    display: flex;
    flex-direction: column;
    left: 50vw;
    top:17vh;
    transform: translateX(-50%);
    z-index: 2;
    gap: 10px;
    padding: 2.5%;
    border-radius: 10px;
}
