
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #73BA9B;
    height: 15vh;
    max-width: 600px; /* Tama침o m칩vil */
    width: 100vw;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    padding: 0 10px; 
    margin-left: 0px;
    z-index: 2;
}

.icon {
    height: 50px;
    width: auto;
}
#tres-barras.rotated {
    transform: translateX(-50%) rotate(90deg);
}
#tres-barras {
    margin: 0 auto;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 2.5%;
}
#Menu-desplegable{
    position: fixed;
    background-color: rgba(115, 186, 155, 0.9);
    display: flex;
    flex-direction: column;
    left: 50vw;
    top:16vh;
    transform: translateX(-50%);
    z-index: 2;
    gap: 10px;
    padding: 2.5%;
    border-radius: 10px;
    text-align: center;
}
#perfilIcon {
    height: 50px;
    width: auto;
}
#Menu-grid {
    display: none;
}

.hidden {
    display: none;
} 
footer{
    position: fixed; 
    top: 95vh; 
    width: 100vw;
    height: auto; 
    background-color: transparent;
}
footer p{
    background-color: brown; 
    color: white; 
    padding: 1vh;
    visibility: hidden; /* Oculta el elemento */
    opacity: 0; /* Hace que el elemento sea completamente transparente */
    pointer-events: none; /* Desactiva eventos del mouse */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* A침ade una transici칩n suave */
}
footer:hover p {
    visibility: visible; /* Muestra el contenido */
    opacity: 1; /* Hace que el contenido sea opaco */
    pointer-events: auto; /* Reactiva interacciones */
}

@media only screen and (min-width: 601px) and (max-width: 928px) {
    header {
        height: 10vh;
        max-width: 928px;
    }
    .icon {
        height: 65px;
    }
    #perfilIcon {
        height: 65px;
    }
    #Menu-desplegable{
        top: 11vh;
        
    }
    #Menu-desplegable a{
        font-size: 1.5em;
    }
    .buttons{
        padding: 2%;
    }
    .buttons .btn{
        height: 4vh;
    }
}
/* No cabe bien hasta los 929px, hasta entoces usar formato 'tablet'*/
@media only screen and (min-width: 929px) {
    header {
        align-items: center;
        padding: 0 20px;
        max-width: none;
    }
    #tres-barras {
        display: none;
    }
    #Menu-desplegable {
        display: none;
    }
    #Menu-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        text-align: center;
    }
    #Menu-grid a {
        padding: 10px;
        background-color: rgba(115, 186, 155, 0.8);
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: background-color 0.3s;
    }
    #Menu-grid a:hover {
        background-color: #4f9075;
    }
    .buttons{
        padding-right: 1%;
    }
    .icon {
        height: 100px;
    }
    #perfilIcon {
        height: 100px;
    }
}