header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #73BA9B;
    height: 15vh; /* 15% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
    width: 100vw;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    padding: 0 10px; 
    margin-left: 0px;
    z-index: 2;
}
.icon {
    height: 50px; /* Tamaño ajustado del ícono de Papá Noel */
    width: auto;
}
#tres-barras.rotated {
    transform: translateX(-50%) rotate(90deg); /* Rotar 90 grados */
}
#tres-barras {
    margin: 0 auto;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Menu-desplegable{
    position: fixed;
    background-color: rgba(115, 186, 155, 0.9);
    display: flex;
    flex-direction: column;
    left: 50vw;
    top:16vh;
    transform: translateX(-50%);
    z-index: 2;
    gap: 10px;
    padding: 2.5%;
    border-radius: 10px;
    text-align: center;
}
#perfilIcon {
    height: 50px;
    width: auto;
}

.hidden {
    /* Para ocultar los botones de login y register */
    display: none;
} 

@media only screen and (min-width: 601px) and (max-width: 768px) {
    header {
        height: 10vh;
        max-width: 768px;
    }
    .icon {
        height: 65px;
    }
    #perfilIcon {
        height: 65px;
    }
    #Menu-desplegable{
        top: 11vh;
        
    }
    #Menu-desplegable a{
        font-size: 1.5em;
    }
}