#home{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; /* Centra vertical */
    align-items: center; /* Centra horizontal */
    width: 100%;
    font-size: 5vh;
    color: rgb(244, 244, 244);
    font-family: "Updock", cursive;
    font-weight: 200;
    font-style: normal;
    text-align: center; /* Centra texto en los hijos */
    padding-top: 15vh;
    background: url('/styles/images/fondoMT.png') no-repeat;
    background-size: cover;
}


#home .contador-navidad {
    display: flex;
    align-items: center;
    font-size: 4vh;
}

#home .titulo {
    font-size: 8vh;
}