#home{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; /* Centra vertical */
    align-items: center; /* Centra horizontal */
    width: 100vw;
    font-size: 5vh;
    color: white;
    font-family: "Updock", cursive;
    font-weight: 200;
    font-style: normal;
    text-align: center; /* Centra texto en los hijos */
    padding-top: 15vh;
    background: url('/images/fondoMT.png') no-repeat;
    background-size: cover;
}


#home .contador-navidad {
    display: flex;
    align-items: center;
    font-size: 4vh;
    background-color: rgba(0, 0, 0, 0.002); /* evitar contraste WAVE */
}

#home .titulo {
    font-size: 8vh;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #home {
        font-size: 6vh;
        padding-top: 10vh;
    }
    #home .titulo {
        font-size: 10vh;
    }
    #home .contador-navidad {
        font-size: 6vh;
    }
}

@media only screen and (min-width: 769px) {
    #home {
        font-size: 8vh;
        padding-top: 10vh;
        justify-content: center;
        background-position: bottom;
    }
    #home .titulo {
        font-size: 12vh;
    }
    #home .contador-navidad {
        font-size: 8vh;
    }
}