
.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.game:nth-child(odd) {
    background: #dfe7fd;
}

.game:nth-child(even) {
    background: #c8d6e5;
}

.game img {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.game h2 {
    margin: 10px 0;
    font-size: 2rem; /* Tamaño reducido para móviles */
}

.game p {
    font-size: 1rem;
    margin: 0 10px;
    max-width: 100%;
    padding: 2%;
}

#juega h1 {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.5rem; 
    transform: rotate(90deg);
}

/* Juego 1 */

#target {
    transform: rotate(90deg);
    position: absolute;
    width: 80px;
    height: 80px;
    transition: transform 0.1s ease;
}

#pistola {
    position: absolute;
    width: 300px;
    height: auto;
    top:40%;
    left:-20px;
    transform: rotate(90deg);
}

#pantallaVictoria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    background-image: url("/styles/images/grinch-muerto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pantallaVictoria h1 {
    font-size: 3rem;
    background-color: #ff0000;
    color: black;
    position: fixed;
    right: 45%;  
    margin: 0;
    padding: 0;
}

/* Juego oculto por defecto */
.juego-oculto {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    color: white;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    cursor: url("/styles/images/mira.png") 25 25, not-allowed;
}

/* Botón */
.play-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    transform: rotate(90deg);
}

#playerSled, #sled2, #sled3 {
    position: absolute;
    width: 100px;
    height: auto;
}

#startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/styles/images/nieve-horizontal.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#startScreen p {
    font-size: 1.5rem;
    color: black;
    position: fixed;
    transform: rotate(90deg);
    background-color: white;
    padding: 100px;
    top:33%;
    text-align: center;   
}

#startRaceButton {
    padding: 15px 30px; /* Botón más grande */
    font-size: 1.5rem; /* Tamaño del texto más grande */
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para mejor visibilidad */
    transition: background-color 0.3s ease; /* Efecto hover suave */
    transform: rotate(90deg);
    position: fixed;
    top: 50%;
    
}

#startRaceButton:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

#countdown {
    font-size: 3rem;
    color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/styles/images/nieve-horizontal.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#raceCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/styles/images/nieve-horizontal.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}