
.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.game:nth-child(odd) {
    background: #dfe7fd;
}

.game:nth-child(even) {
    background: #c8d6e5;
}

.game img {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.game h2 {
    margin: 10px 0;
    font-size: 2rem; /* Tamaño reducido para móviles */
}

.game p {
    font-size: 1rem;
    margin: 0 10px;
    max-width: 100%;
}