
.game-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.game {
    width: 70%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: #e04747;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    margin: auto; 
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 2vh; 
}

.game:nth-child(odd) {
    background: #e04747;
}

.game:nth-child(even) {
    background: #e04747;
}

.game img {
    max-width: 100vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}

.game h2 {
    margin: 10px 0;
    font-size: 2rem; /* Tamaño reducido para móviles */
    color: black;
}

.game p {
    font-size: 1rem;
    margin: 0 10px;
    max-width: 100%;
    padding: 2%;
}

/* Juego oculto por defecto */
.juego-oculto {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    color: white;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

/* Juego 1 */

#juego1 {
    background-image: url("/styles/images/fondoMT-horizontal.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url("/styles/images/mira.png") 25 25, not-allowed;
}

#target {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(90deg); /* Aplica la rotación aquí */
    transition: transform 0.1s ease;
}

#target img {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
    height: auto;
}

#pistola {
    position: absolute;
    width: 300px;
    height: auto;
    top:40%;
    left:-20px;
    transform: rotate(90deg);
}

#score {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
}

#pantallaVictoria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    font-size: 3rem;
    background-image: url("/styles/images/grinch-muerto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pantallaVictoria h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff0000;
    color: black;
    position: fixed;
    left: -250px;  
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
}

/* Botón */
.play-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1387d4;
    color: black;
    border: none;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    transform: rotate(90deg);
}

#playerSled, #sled2, #sled3 {
    position: absolute;
    width: 80px;
    height: auto;
}

#flecha {
    position: absolute;
    width: 80px;
    height: auto;
}

#startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/styles/images/nieve-horizontal.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#startScreen p {
    font-size: 1.5rem;
    color: black;
    position: fixed;
    transform: rotate(90deg);
    background-color: white;
    padding: 100px;
    top:33%;
    text-align: center;   
}

#startRaceButton {
    padding: 15px 30px; /* Botón más grande */
    font-size: 1.5rem; /* Tamaño del texto más grande */
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para mejor visibilidad */
    transition: background-color 0.3s ease; /* Efecto hover suave */
    transform: rotate(90deg);
    position: fixed;
    top: 50%;
    
}

#startRaceButton:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

#raceCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/styles/images/nieve-horizontal.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}






/* Estilos para tablet (601px a 768px) */
@media (min-width: 601px) and (max-width: 768px) {
    #Juega {
        max-width: 768px;
    }
    .game {
        width: 70vw; 
    }
    
    .game img {
        max-width: 90%;
    }
    
    .game h2 {
        font-size: 7vw; 
    }
    
    .game p {
        font-size: 5vw;
    }
    
}

/* Estilos para ordenador (más de 768px) */
@media (min-width: 769px) {

    .game-container {
        flex-direction: row;
        position: relative;
        top: -10vh;
        scroll-snap-type: none;
        overflow-y: hidden;
    }
    
    .game {
        width: 30vw; 
        margin-bottom: none; 
    }
    
    .game img {
        max-width: 90%;
    }
    
    .game h2 {
        font-size: 3rem; 
    }
    
    .game p {
        font-size: 2rem;
    }
    
    /* Juego oculto por defecto */
    .juego-oculto {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
    }

    #juego1 {
        width: 100vw;
        height: 100vh;
    }

    /* Juego 1 */
    #target {
        position: absolute;
        width: 120px;
        height: 120px;
    }
    
    #pistola {
        position: absolute;
        width: 600px;
        height: auto;
        top:40%;
        left:35vw;
        transform: none;
    }

    #juego1 h1 {
        font-size: 8rem;
    }

    #score {
        font-size: 10rem;
    }
    
    #pantallaVictoria {
        width: 100vw; /* Ocupa todo el ancho de la pantalla */
        height: 100vh; /* Ocupa todo el alto de la pantalla */
        background-image: url("/styles/images/grinch-muerto-horizontal.jpg");
    }
    
    #pantallaVictoria h1 {
        font-size: 3rem;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%); /* Centra el texto */
    }

    .close-btn {
        bottom: 87vh;
        right: 3vw;
        width: 80px;
        height: 80px;
        transform: none;
    }
    
    /* Juego2 */
    #playerSled, #sled2, #sled3 {
        width: 8vw;
        transform: rotate(270deg);
    }
    
    #flecha {
        width: 10vw; 
        transform: rotate(270deg);
    }
    
    #startScreen {
        width: 100vw;
        height: 100vh;
        background-image: url("/styles/images/nieve.png");
    }
    
    #startScreen p {
        font-size: 3rem;
        transform: none;
        padding: 15vh;
        left:20vw;
        right: 20vw;
        top:10vh;  
    }
    
    #startRaceButton {
        font-size: 2rem;
        transform: none;
        position: fixed;
        top: 75vh;
        left: 50%;
        transform: translate(-50%);
    }
    
    
    #raceCanvas {
        width: 100vw;
        height: 100vh;
        background-image: url("/styles/images/nieve.png"); 
    }
}    