.seccion5{
    background-color: #110252;
    background-image: url("/styles/images/nieve-gif.png");
}
.seccion5 .body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.seccion5 .call-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.seccion5 .video-placeholder {
    width: 70vw;
    height: 58vh; /* Altura fija para el cuadro */
    border: 5px dashed #551d1d; /* Línea punteada para dar idea de espacio */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e96060; /* Fondo claro */
    margin: 20px auto;
    position: relative; /* Para manejar el video como contenido interno */
  }
  
.seccion5  .video-placeholder video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

.seccion5 .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 20px;
}
  
.seccion5 .button-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    border-radius: 50%; /* Forma redonda */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
  
.seccion5 .button-icon img {
    width: 60px;
    height: 60px;
}

.seccion5 .button-icon:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo claro al pasar el ratón */
}

.seccion5  #callButton {
    background-color: #ffffff;
    color: white;
}
  
.seccion5  #callButton:hover {
    background-color: #8a8a8a;
}
  
.seccion5  #hangUpButton {
    background-color: #ffffff;
    color: white;
}
  
.seccion5  #hangUpButton:hover {
    background-color: #8a8a8a;
}
  
.seccion5  #message {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}
  
.seccion5 .titulo{
    text-align: center;
    font-size: 8vh;
    color: rgb(244, 244, 244);
    font-family: "Updock", cursive;
    font-style: normal;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .seccion5{
        padding-top: 5vh;
    }
}