html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('/styles/images/fondoMT.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Escala la imagen para cubrir todo el fondo */
    background-attachment: fixed; /* Hace que el fondo permanezca fijo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

main {
    position: relative;
    height: 100vh; /* 85% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
}

a {
    color: inherit; 
    text-decoration: none; 
}

#home{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#SobreSanta{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#Mapa{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#EscribeCarta{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#LlamaSanta{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#ReservaViaje{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#Galeria{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#Villancicos{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#Cocina{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}
#Juega{
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    main{
        max-width: 768px;
    }
    #home{
        padding-top: 11vh;
    }
    #SobreSanta{
        padding-top: 5vh;
    }
    #Mapa{
        padding-top: 11vh;
    }
    #EscribeCarta{
        padding-top: 11vh;
    }
    #LlamaSanta{
        padding-top: 6vh;
    }
    #ReservaViaje{
        padding-top: 11vh;
    }
    #Galeria{
        padding-top: 11vh;
    }
    #Villancicos{
        padding-top: 11vh;
    }
    #Cocina{
        padding-top: 6vh;
    }
    #Juega{
        padding-top: 11vh;
    }
}