html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0;
}

main {
    position: relative;
    height: 100vh; /* 85% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
    background: url('/styles/images/fondoMT.png');
    background-repeat: no-repeat;  
    background-size: cover; 
}

html{
    scroll-behavior: smooth;
}



a {
    color: inherit; 
    text-decoration: none; 
}

#home{
    height: 100vh;
    padding-top: 15vh;
}
#SobreSanta{
    height: 100vh;
    padding-top: 15vh;
}
#Mapa{
    height: 100vh;
    padding-top: 15vh;
}
#EscribeCarta{
    height: 100vh;
    padding-top: 15vh;
}
#LlamaSanta{
    height: 100vh;
    padding-top: 15vh;
}
#ReservaViaje{
    height: 100vh;
    padding-top: 15vh;
}
#Cocina{
    height: 100vh;
    padding-top: 16vh;
}
#Galeria{
    height: 100vh;
    padding-top: 15vh;
}
#Villancicos{
    height: 100vh;
    padding-top: 15vh;
}
#Cocina{
    height: 100vh;
    padding-top: 15vh;
}
#Juega{
    height: 100vh;
    padding-top: 15vh;
}


    