html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0;
}

main {
    position: relative;
    height: 100vh; /* 85% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
    
}



a {
    color: inherit; 
    text-decoration: none; 
  }



    