body{
    margin: 0 0;
}

main {
    position: relative;
    height: 85vh; /* 85% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
    background: url('/styles/images/fondoMT.png') no-repeat;
}

a {
    color: inherit; 
    text-decoration: none; 
  }



    