main {
    position: relative;
    height: 85vh; /* 85% del alto de la pantalla */
    max-width: 600px; /* Tamaño móvil */
    background: url('/styles/images/fondoMT.png') no-repeat center/cover;
}

#home{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; /* Centra vertical */
    padding-top: 20vh;
    align-items: center; /* Centra horizontal */
    width: 100%;
    height: 100vh; 
    font-size: 5vh;
    color: rgb(244, 244, 244);
    font-family: "Updock", cursive;
    font-weight: 200;
    font-style: normal;
    text-align: center; /* Centra texto en los hijos */
}


#home .contador-navidad {
    display: flex;
    align-items: center;
    font-size: 4vh;
    font-weight: 100;
}

    