#map {
    position: absolute;
    height: 80vh;
    width: 90%;
    margin: 5%;
    border: 2px solid #0ec936;
    border-radius: 10px;
    z-index: 0;
}
@media only screen and (min-width: 769px) {
    #map {
        margin-top: 0;
        height: 70vh;
    }
}