h2 {
    color: #fff;
    text-align: center;
}

/* Estilo de los botones */
.btn, .btn-submit {
    background-color: #d32f2f;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn:hover, .btn-submit:hover {
    background-color: #821e1e;
    transform: translateY(-2px); /* Efecto de pulsación */
}

.btn:active, .btn-submit:active {
    transform: translateY(2px); /* Efecto de pulsación al presionar */
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #e74c3c; /* Color navideño */
}

/* Inputs */
input[type="email"], input[type="password"], input[type="text"], select {
    width: 95%;
    padding: 10px;
    margin: 2.5% 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, select:focus {
    border-color: #e74c3c; /* Color de borde al hacer focus */
}

/* Modal de Alerta */
#alertModal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#alertModal .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#alertModal .modal-content h2 {
    font-size: 20px;
    color: #e74c3c; 
    margin-bottom: 20px;
}

#alertModal .modal-content button {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#alertModal .modal-content button:hover {
    background-color: #821e1e;
    transform: translateY(-2px);
}

#alertModal .modal-content button:active {
    transform: translateY(2px);
}

#perfilMenu {
    position: fixed;
    border-radius: 8px;
    top: 16vh;
    right: 1%;
    background: rgba(115, 186, 155, 0.9);
    padding: 10px;
    z-index: 9;
}

#editProfileForm{
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #perfilMenu {
        top: 11vh;
        right: 1vw;
    }
}