.reservation-container {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 90vw;
  border-radius: 10px;
  place-self: center;
  margin-top: 2vh;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  place-self: center;

}
.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.form-section input, .form-section select {
  width:75vw ;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: inset 0 2px 5px rgba(224, 15, 43, 0.281);
}

.form-section input:focus, .form-section select:focus {
  outline: none;
  border: 1px solid #7FB3D5;
  box-shadow: 0 0 8px rgba(127, 179, 213, 0.6);
}

.button-group {
  display: flex;
  place-self: center;
  margin-bottom: 10px;
  gap: 2em;
}


#confirm {
  background: linear-gradient(135deg, #11aa6d, #40a978);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#confirm:hover {
  background-color: #218838;
}


/* Estilos para tablet (hasta 600px) */
@media (min-width: 601px) and (max-width: 768px) {
  .form-section input, .form-section select {
    width: 60vw;
    margin: 5px;
  }
  
  .button-group {
    gap: 3em;
  }

  #confirm, #cancel {
    padding: 10px 20px;
  }

}
/* Estilos para ordenador (más de 768px) */
@media (min-width: 769px) {

  .form-section input, .form-section select {
    width: 50vw;
    margin: 5px;
  }

  .button-group {
    gap: 4em;
  }

  #confirm, #cancel {
    padding: 10px 30px;
  }

}
