.abajo{
    position: relative;
}
.arriba{
    position: relative;
    margin-top: 0%;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.cuadrado{
    padding: 2% 2%;
    margin-right: 5%;
    margin-left: 10%;
    height: auto;
    width: 80%;
    background-color: antiquewhite;
    text-align: justify;
    font-size: 2vh;
    border-radius: 5%;
    font-style: italic;
}
.titulo2{
    text-align: center;
    font-size: 8vh;
    color: rgb(244, 244, 244);
    font-family: "Updock", cursive;
    font-style: normal;
}
.imagen{
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    place-self: center;
}
.seccion2{
    background-image: url(/styles/images/fondo2.png);
    display: flex;
    flex-direction: column;
    column-gap: 10%;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .seccion2{
        width: 100vw;
        height: auto;
        background-size: cover;
        background-position: center;
    }
}