.abajo{
    position: relative;
}
.arriba{
    position: relative;
    margin-top: 0%;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.cuadrado{
    padding: 2% 2%;
    margin-right: 5%;
    margin-left: 10%;
    height: auto;
    width: 80%;
    background-color: antiquewhite;
    text-align: justify;
    font-size: 2vh;
    border-radius: 10px;
    font-style: italic;
}
.titulo2{
    text-align: center;
    font-size: 8vh;
    color: red;
    font-family: "Updock", cursive;
    font-style: normal;
}
.imagen{
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    place-self: center;
}
.seccion2{
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    background-image: url('/styles/images/fondo2.png');
    background-size:cover;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .seccion2{
        width: 100vw;
        height: auto;
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 769px) {
    .titulo2{
        text-align: left;
        margin-left: 5%;
    }
    .imagen{
        height: auto;
        width: 40vw;
        margin: 0;
    }
    .seccion2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .arriba{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin-top: -10%;
        max-width: 50vw;
    }
    .abajo{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50vw;
    }
    .cuadrado{
        max-width: 30vw;
        margin: 0;
        justify-self: right;
    }
}