/* General */
#villancicos {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #B71C1C;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
}

.player {
    position:relative;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-height: 70vh;
    min-height: 50vh;
    place-self: center;
  
}

/* Playlist */
ul#playlist {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: linear-gradient(135deg, #FFCDD2, #E8F5E9);
}

ul#playlist li {
    list-style: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
}

ul#playlist li:hover {
    background-color: #ff8282;
    transform: translateX(5px);
}

ul#playlist li.active {
    background-color: #ff8080;
    font-weight: bold;
    border-left: 5px solid #FF7043;
}

ul#playlist li::before {
    content: '🎶';
    margin-right: 10px;
    animation: bounce 2s infinite ease-in-out;
}

/* Audio */
audio {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Controles */
.controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.controls button {
    background: linear-gradient(135deg, #FF7043, #D84315);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
}

.controls button:hover {
    background: linear-gradient(135deg, #E64A19, #BF360C);
    transform: scale(1.1);
}

.controls button:active {
    transform: scale(1);
}
/* Animación de ícono */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/* Estilos para tablet (601px a 768px) */
@media (min-width: 601px) and (max-width: 768px) {

    ul#playlist li {
        padding: 10px;
        font-size: 1rem;
    }

    audio {
        margin-top: 10px;
    }

    .controls button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

/* Estilos para ordenador (más de 768px) */
@media (min-width: 769px) {
    #villancicos {
        padding: 20px;
    }

    .player {
        padding: 20px;
    }

    ul#playlist li {
        padding: 15px;
        font-size: 1.2rem;
    }

    audio {
        margin-top: 20px;
    }

    .controls button {
        padding: 10px 20px;
        font-size: 1rem;
    }
}